# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
env/
venv/
.venv/

# Environment variables
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Git
.gitignore.backup

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/